<div class="w-full h-screen place-content-center grid">
  <div class="mx-auto px-2 py-4 text-center">
    <h1 class="text-8xl font-semibold"><%= response.status %></h1>
    <p class="text-xl"><%= @error_message %></p>
  </div>
</div>