DATABASE_PASSWORD=postgres
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DB=rails_boilerplate_development

TEST_DATABASE_PASSWORD=postgres
TEST_DATABASE_USER=postgres
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=5432
TEST_DATABASE_DB=rails_boilerplate_test

CLIENT_UID=c89c1f81-0312-4ea3-852b-7dbf657db54b
CLIENT_SECRET=themostsecrettoken

GOGGLE_CLIENT_ID=rahasia
GOOGLE_CLIENT_SECRET=rahasia

APPLICATION_BASE_URL=http://localhost:3000
