DATABASE_PASSWORD=postgres
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DB=rails_boilerplate_development

TEST_DATABASE_PASSWORD=postgres
TEST_DATABASE_USER=postgres
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=5432
TEST_DATABASE_DB=rails_boilerplate_test

CLIENT_UID=themostsecrettoken
CLIENT_SECRET=themostsecrettoken
